@import url("https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
}

body {
  background-image: url("https://cdn.pixabay.com/photo/2018/09/27/17/42/leaf-3707549_1280.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.capa {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  top: 0;
  left: 0;
}

/* Estilos para el encabezado */
.header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.container .btn-menu,
.logo {
  float: left;
  line-height: 100px;
}

.container .btn-menu label {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}

.logo h1 {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  margin-left: 10px;
}

.container .menu {
  float: right;
  line-height: 100px;
}

.container .menu a {
  display: inline-block;
  padding: 15px;
  line-height: normal;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
  font-size: 15px;
  margin-right: 5px;
}

.container .menu a:hover {
  border-bottom: 2px solid #c7c7c7;
  padding-bottom: 5px;
}

/* Fin de Estilos para el encabezado */

/* Menú lateral */
#btn-menu {
  display: none;
}

.container-menu {
  position: fixed; /* Cambiado de absolute a fixed */
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}

#btn-menu:checked ~ .container-menu {
  opacity: 1;
  visibility: visible;
}

.cont-menu {
  width: 100%;
  max-width: 250px;
  background: #1c1c1c;
  height: 100vh;
  position: fixed; /* Cambiado de relative a fixed */
  transition: all 500ms ease;
  transform: translateX(-100%);
}

#btn-menu:checked ~ .container-menu .cont-menu {
  transform: translateX(0%);
}

.cont-menu nav {
  transform: translateY(15%);
}

.cont-menu nav a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #c7c7c7;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
}

.cont-menu nav a:hover {
  border-left: 5px solid #c7c7c7;
  background: #1f1f1f;
}

.cont-menu label {
  position: absolute;
  right: 5px;
  top: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

/* Fin de Menú lateral */

/* Estilos para las columnas en vertical */
.column-container {
  display: flex;
  flex-direction: column; /* Coloca las columnas en vertical */
  gap: 20px; /* Espacio entre las columnas */
  margin: 120px auto; /* Margen superior para evitar que se sobreponga al header */
  width: 90%;
  max-width: 600px;
}

.column {
  padding: 20px;
  border: 1px solid #ccc;
  background-color: rgba(29, 26, 26, 0.3); /* Fondo con opacidad */
  text-align: center;
  color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.column-image {
  width: 100%; /* Ocupa todo el ancho de la columna */
  height: 200px; /* Altura fija para uniformidad */
  object-fit: cover; /* Recorta la imagen para llenarla sin distorsión */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

@keyframes fadeInOut {
  0% {
    opacity: 0; /* Comienza invisible */
  }
  50% {
    opacity: 1; /* Se vuelve completamente visible */
  }
  100% {
    opacity: 0; /* Vuelve a desaparecer */
  }
}

#titulo {
  color: #fff;
  text-align: center;
  margin-top: 100px;
  padding-top: 40px;
  animation: fadeInOut 5s infinite; /* Duración de 5 segundos y se repite infinitamente */
}

